HIBP_API_KEY=
REMOTE_API_KEY=

DISCORD_BOT_TOKEN=
RAPIDAPI_KEY=
INTELX_API_KEY=
LEAKCHECK_API_KEY=
STEAM_API_KEY=

TOR_PROXY=socks5://127.0.0.1:9050
TOR_DIR=C:/tor
TOR_SOCKS_PORT=9050
TOR_CONTROL_PORT=9051
TOR_CONTROL_PASSWORD=

ENABLE_RAW_SEARCH=false
RAW_LEAKS_DIRECTORY=./data/dumps
