fastapi>=0.111.0
uvicorn>=0.30.0
aiohttp>=3.13.0
aiohttp-socks>=0.8.4
beautifulsoup4>=4.12.3
lxml>=5.2.2
stem==1.8.2
requests>=2.32.3
python-dotenv>=1.0.1
fake-useragent>=1.5.1
pydantic>=2.7.4
pandas>=2.2.2
networkx>=3.0
pyvis>=0.3.2
duckduckgo-search>=6.2.0
holehe>=1.5.0
